@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* BG Color */
  --bg1: 0 0% 0%;
  --bg-popup: 240 9% 9%;
  --bg-tag: 32 21% 14%;
  --bg-mask: 0 0% 0%;

  /* Text Color */
  --primary: 0 0% 100%;
  --secondary: 0 0% 60%;
  --tertary: 0 0% 40%;
  --disable: 0 0% 20%;
  --link: 202.2 84.75% 53.73%;

  /* Other Color */
  --icon: 0 0% 30%;
  --line: 240 3% 16%;
  --primary-blue: 240 100% 50%;
  --primary-blue-hover: 234 100% 24%;
  --gold-yellow: 35.68 95.85% 62.16%;
  --error: 0 100% 50%;
  --success: 156 100% 50%;
}

html {
  @apply bg-white font-baloo2;
}

body {
  @apply text-primary m-0 p-0;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 100%;
  background-color: transparent;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: #27282d;
  border-radius: 8px;
}

.react-paginate {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 24px;
  gap: 4px;
  li {
    @apply bg-white rounded-lg size-8 flex items-center justify-center text-[#121212] transition-colors duration-300;
  }

  li.previous a,
  li.next a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
  }
  li.selected a {
    color: #e8e8e7;
  }
  li a:hover {
    color: #e8e8e7;
  }

  li.disabled a {
    opacity: 0.3;
  }
  li.disable,
  li.disabled a {
    cursor: default;
  }
}
